body {
	background: #23232a;
}


.header {
    background-color: #23232a;
    max-width: 100%;
    height: 200px;
}

.img1 img{
    margin-top: 30px;
    width: 230px;
    height: 100px;
}






/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  nav {
    background: #23232a;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 80px;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }









.bat {
    display: flex;
    justify-content: center;
}



.battons {
    margin: 20px;
    width: 280px;
    height: 45px;
    background-color: #005959;
    border-radius: 15px ;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 5px #1c1e22, 

}


.battons:hover {
    text-decoration: underline;
    transition: 0.3s;
    opacity: 0.5;

}



.content {
    max-width: 100%;
    height: 700px;
	padding: 30px;
}




.txt1 {
	margin: 40px;
	margin-left: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}




.product-wrapper {
  display: block;
  width: 100%;
  float: left;
  transition: width .2s;
}

@media only screen and (min-width: 450px) {
  .product-wrapper {
  width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
  width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product-wrapper {
  width: 25%;
  }
}

.product {
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  background: #1c1e22;
  margin: 0 20px 20px 0;
  text-decoration: none;
  z-index: 0;
  height: 300px;
}


.products {
  margin: 0 -20px 0 0;
  padding: 0;
}


.product:hover .product-photo img {
  transition: 1s;
  transform: scale(1.05);
}

.product p {
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.4em;
  height: 5.6em;
  overflow: hidden;
}

.product-photo img{
display: flex;
width: 400px;
height: 300px;
  margin-left: 20px;
}

.product-photo:hover{
  transition: 1s;
  box-shadow: 0 0 5px #1c1e22, 
  0 0 20px white,
  0 0 110px gray;
}

.containerr {
    max-width: 1400px;
    margin: 0 auto;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-family: "Teko";
}
.main__title{
    text-align: center;
    font-family: "Teko";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
}
h2{
    text-align: center;
    color: aliceblue;
}
.footer__inner{
    width: 20%;
}
.footer__title{
    width: 20%;
}
.footer__input{
    width: 80px;
}
.subtitle{
    color: white;
}
.title{
    color: white;
}

.section-footer{
    background-color: black;
}